.select-container {
  width: 550px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border: 2px solid #ddd2ff;
  cursor: pointer;
  border-radius: 5px;
}

.options-list {
  position: absolute;
  background-color: white;
  border: 2px solid #ddd2ff;
  border-top: 0;
  padding: 0;
  width: 550px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  list-style-type: none;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  cursor: pointer;
}

.option-item:hover {
  background-color: #f1f1f1;
}

.arrow.open {
  transform: rotate(180deg);
}

.form-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  gap: 22px;
}

.emp-img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

.selected-value {
  display: flex;
  gap: 6px;
  align-items: center;
}
.disabled {
  cursor: default;
}
