.tasks-div-main {
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.task-div {
  display: flex;
  flex-direction: column;
  width: 381px;
  gap: 30px;
}
.task-header {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 23px;
  border-radius: 10px;
}

.task-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  height: 217px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  height: 26px;
}

.task-card-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 64px;
}

.task-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 31px;
}
.status-div {
  gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 6px 4px 4px;
}
.dep-div {
  display: flex;
  padding: 5px 18.5px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
}
.date-div {
  display: flex;
  align-items: center;
}

.desc-p {
  color: #343a40;
  text-align: left;
}
.task-name {
  text-align: left;
}

.task-card-img {
  width: 31px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
}
.comment-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.filters-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12.5px 18px;
  width: 688px;
  height: 44px;
  border: 2px solid #dee2e6;
  border-radius: 10px;
}

.filter-btn {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.emp-filter-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 30px 20px 30px;
  width: 688px;
  position: absolute;
  border: 2px solid #8338ec;
  border-radius: 10px;
  background-color: white;
  top: 280px;
  left: 117px;
}

.filter-btn-choose {
  margin-top: 25px;
  width: 155px;
  height: 35px;
  font-size: 20px;
  border-radius: 20px;
}
.emp-div-main {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border: 2px solid #8338ec;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.emp-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.name-sname-dvi {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: right;
}

.filter-div-main {
  margin-top: 52px;
}
.filter-btns-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 80px;
}

.filter-btns-div div {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  gap: 4px;
  border: 2px solid #ced4da;
  border-radius: 43px;
  height: 29px;
  font-size: 14px;
  cursor: pointer;
}

.dlt-filters-btn {
  all: unset;
  cursor: pointer;
}
.arrow {
  display: flex;
  align-items: center;
}
